@charset "utf-8";

header {
	margin-top: 40px;
	margin-bottom: 30px;
	font: 2em Arial;
	color: rgb(251, 133, 45);
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
	text-align: center;
}

body {
	background-color: rgb(30,30,30);
}

#barraNavegacion {
	margin-top: 50px;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}
#barraNavegacion td {
	border-radius: 10px;
}
.elementoNavegacion {
	width: auto;
	height: 25px;
	border: 1px solid #ea7117;
	background-color: rgb(50,50,50);
	padding: 10px 20px;
	-webkit-transition: -webkit-transform 0.1s ease-in-out 0;
	-moz-transition: -moz-transform 0.1s ease-in-out 0s;
}
.elementoNavegacion:hover {
	-webkit-transform:scale(1.2);
	-moz-transform:scale(1.2);
}
.elementoNavegacion a {
	color: rgb(97, 175, 45);
	font: 1em Arial;
	text-decoration: none;
}

#mensajePrincipal {
	margin: 40px 190px;
	font: 1em Arial;
	color: rgb(255, 255, 255);
}

.contenedorCampo {
	padding: 5px 0px;
}
.botones {
	margin-top: 10px;
    text-align: center;
}
.botones a {
	text-decoration: none;
	color: rgb(255, 255, 255);
}

#formEditar {
	float: left;
}
#formEliminar {
	float: right;
}

.boton:hover {
	cursor: pointer;
}

#error {
	text-align: center;
	background-color: rgb(214, 18, 18);
	color: rgb(255, 255, 255);
	font: 1.3em Arial;
	height: 30px;
	margin: 20px 350px 0px 350px;
	border: 2px solid #710a0a;
	border-radius: 8px;
}
#correcto {
	text-align: center;
	background-color: rgb(84, 173, 30);
	color: rgb(255, 255, 255);
	font: 1.3em Arial;
	height: 30px;
	margin: 20px 350px 0px 350px;
	border: 2px solid #2f630f;
	border-radius: 8px;
}

footer {
	margin: 80px 190px;
	text-align: left;
	font: 0.6em "Times New Roman", Arial;
	color: rgb(178, 110, 45);
}